<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memurillo.vozdiaria"
    android:versionCode="2"
    android:versionName="1.2">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.memurillo.vozdiaria.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
	        android:name=".PrincipalActivity"
	        android:screenOrientation="sensorPortrait" >
	    </activity>
	    
        <activity
	        android:name=".NoticiasActivity"
	        android:screenOrientation="sensorPortrait" >
	    </activity>

        <activity
	        android:name=".ConfiguracionesActivity"
	        android:screenOrientation="sensorPortrait" >
	    </activity>
	    
        <activity
	        android:name=".AcercaDeActivity"
	        android:screenOrientation="sensorPortrait" >
	    </activity>
	    
    </application>
</manifest>
